name: Pull Request Labeler
on:
  # pull_request event is required only for autolabeler
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  label_pull_request:
    runs-on: self-hosted
    steps:
      - uses: release-drafter/release-drafter@v5
        name: Add Labels from Branch Name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
